name: Compile on push to main branch
on:
  push:
    branches:
      - main
jobs:
  compile:
    runs-on: ubuntu-latest
    container:
      image: scireum/sirius-build-jdk24
    steps:
      - name: Checkout project
        uses: actions/checkout@v4

      - name: Cache Maven dependencies
        uses: actions/cache@v4
        with:
          path: |
            ~/.m2/repository
            /root/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Compile project
        run: mvn clean compile
