name: Automatic Release on SemVer Tag on Main Branch

on:
  push:
    branches: [ "main" ]
    tags:
      - "*.*.*"
    
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        if: startsWith(github.ref, 'refs/tags/')

      - name: Release
        uses: softprops/action-gh-release@v2.5.0
        if: startsWith(github.ref, 'refs/tags/')
        with:
          generate_release_notes: true
